---
import { languages } from '../../i18n/ui';
---
<ul id="dropdown" class="nav-dropdown-list mx-auto hidden duration-300 lg:invisible lg:absolute lg:block lg:h-auto lg:w-[13.5rem] lg:opacity-0 lg:group-hover:visible lg:group-hover:opacity-100">
  {Object.entries(languages).map(([lang, label]) => (
    <li class="nav-dropdown-item">
      <a href={`/${lang}/`} class={`nav-dropdown-link block ${(pathname === `/${lang}/` || pathname === ${lang}) && "text-primary"}`}>{label}</a>
    </li>
  ))}
</ul>